<!doctype html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
        <![endif]-->
<!--[if IE 7]>         
        <html class="no-js lt-ie9 lt-ie8" lang="">
            <![endif]-->
<!--[if IE 8]>         
            <html class="no-js lt-ie9" lang="">
                <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>✨ Drive-through timer ✨</title>
    <meta name="description" content="Drive-through timer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./lib/images/logo.jpg">

    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/keyboardstyle.css">
    <link rel="stylesheet" href="assets/css/dashboard_settings.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'> 
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="dashboard.html"> <i class="menu-icon ti-menu"></i>ОБРАТНО К ПАНЕЛИ</a>
                    </li>
                    <li>
                        <a href="dashboard-settings.html"> <i class="menu-icon ti-view-grid"></i>НАСТРОЙКА ПАНЕЛИ</a>
                    </li>
                    <li>
                        <a href="store-settings.html"> <i class="menu-icon ti-home"></i>РЕСТОРАН </a>
                    </li>
                    <li>
                        <a href="network-settings.html"> <i class="menu-icon ti-world"></i>СЕТЬ </a>
                    </li>
                    <li class="selected-menu">
                        <a href="detectors-settings.html"> <i class="menu-icon ti-settings"></i>ДАТЧИКИ</a>
                    </li>
                    <li>
                        <a href="cardetectors-settings.html"><i class="menu-icon ti-car"></i>НАСТРОЙКИ ДЕТЕКТОРОВ
                            МАШИН</a>
                    </li>
                    <li>
                        <a href="reports-settings.html"> <i class="menu-icon ti-clipboard"></i>ОТЧЕТЫ</a>
                    </li>
                    <li>
                        <a href="security-settings.html"> <i class="menu-icon ti-lock"></i>ЗАЩИТА </a>
                    </li>
                    <li>
                        <a href="system-settings.html"> <i class="menu-icon ti-desktop"></i>СИСТЕМА </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->


    <div id="right-panel" class="right-panel">
        
        <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2  import-usual-keyboard" type="text"
                                    placeholder="Поиск ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                            <div class="login-icon ti-user login_big_icon"></div>
                            Вы вошли как:<div id="login_type"> менеджер </div>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="security-settings.html"><i class="fa fa-cog"></i> Поменять пароль
                            </a>
                            <a class="nav-link" href="security-settings.html"><i class="fa fa-power-off"></i> Выйти</a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="content mt-3">
            <h1>ДАТЧИКИ </h1>
            <br>
            <div class="animated fadeIn">
                <ul class="nav nav-tabs" id="networkTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tspdetectors-tab" data-toggle="tab" href="#tspdetectors"
                            role="tab" aria-controls="tspdetectors" aria-selected="true">TSP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cameradetectors-tab" data-toggle="tab" href="#cameradetectors"
                            role="tab" aria-controls="cameradetectors" aria-selected="false">Камера</a>
                    </li>
                </ul>
                <div class="tab-content pl-3 p-1" id="networkTabContent">

                    <div class="tab-pane fade show active" id="tspdetectors" role="tabpanel"
                        aria-labelledby="tspdetectors-tab">
                        <h3>Menu 1</h3>
                        <p>Some content here.</p>
                    </div>

                    <div class="tab-pane fade" id="cameradetectors" role="tabpanel"
                        aria-labelledby="cameradetectors-tab">
                        <h3>Menu 2</h3>
                        <p>Some content here.</p>
                    </div>
                </div>

                <!-- /# </div>-->
            </div>
            <!-- /# column  -->
        </div>
        <!-- .animated -->
    </div>
    <!-- .content -->
    </div><!-- /#right-panel -->
    <!-- Right Panel   -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <!--  <script src="vendors/popper.js/dist/umd/popper.min.js"></script>      -->
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/keyboard.js"></script> 
</body>

</html>