.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

#tmp_elem_forkeyboard { 
left: 0;
top: 600px;
height: 1200px; 
width: 0%;
padding: 5px 0;
background: #004134;
box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
}













.timegoals-form-input
{
background: #f8ffff;
border: none;
border-radius: 20px;
box-shadow: none;
color: #117a8b;
font-size: 16px;
height: inherit;
margin-right: 0 !important;
padding: 5px 36px 5px 15px;
width: 100%; } 

.timegoals-form-input-dark
{
background: #f0ffff;
border: none;
border-radius: 20px;
box-shadow: none;
color: #0e6977;
font-size: 16px;
height: inherit;
margin-right: 0 !important;
padding: 5px 36px 5px 15px;
width: 100%; 
}


.connected-status
{ 
font-size: 12px;
height: inherit;
margin-left: 40% ;  
}
.connected-status[data-connected="true"] {
color: #005214;
}
.connected-status[data-connected="false"] {
color: #570000;
}

.selected-menu {
    border-top: 1px solid #f0ffff; 
    border-bottom: 1px solid #f0ffff;
    font-weight: 600;
    background-color: #083a4265;
}

#login_type {
font-weight: 600;
text-align: center;

}

.login_big_icon {
font-size: 40px;
text-align: center;
}
